.product {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product:hover {
  cursor: pointer;
}

.product-image {
  width: 288px;
  height: 226px;
  border-radius: 2px;
  border: rgba(236, 239, 237, 1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease; /* Smooth transition for scaling */
}

.product:hover .product-image {
  transform: scale(1.01);
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.08); /* More pronounced shadow on hover */
}

.product-name {
  font-size: 1.2rem;
}

.product-price {
  color: #666;
  font-size: 1rem;
}
h3 {
  color: var(--black-text);
  margin: 0;
}

p {
  color: var(--gray-text);
  margin: 0;
}
@media (max-width: 480px) {
  /* For even smaller screens */
  .product-image {
    width: 155px;
    height: 111px;
    border-radius: 2px;
  }
}
