.product:hover {
  cursor: pointer;
}

.product-image {
  width: 288px;
  height: 226px;
  border-radius: 2px;
  border: rgba(236, 239, 237, 1);
  transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.product:hover .product-image {
  transform: scale(1.02);
  cursor: pointer;
}

.product-name {
  font-size: 1.2rem;
}

.product-price {
  color: #666;
  font-size: 1rem;
}
h3 {
  color: var(--black-text);
  margin: 0;
}

p {
  color: var(--gray-text);
  margin: 0;
}
